.Footer-wrap{
    background-color: #333;
    color:white;
    display: flex;
    justify-content: center;
}
.Footer-mid div ul{
    display: flex;
}
.Footer-mid{
    padding-top: 20px;
}
.Footer-inner{
    width: 1170px;
}
.Footer-bot{
    padding-bottom: 20px;
}
.Footer-wrap ul li{
    list-style: none;
    min-width: 90px;
}

.Footer-bot{
    display: flex;
    justify-content: space-between;
}

.Footer-bot ul{
    display:flex;

}

.Footer-bot ul li{
    min-width: 100px;
}