.Rubview-card{
    max-width: 200px;
    border: 1px solid #ccc;
    position: relative;
}
.Rubview-wrap{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.Rubview-card img{
    width: 100%;
}
.Rubview-card-text{

}